#Describe the libraries ( one line per library )
lib_seq /scratch/srb67793/G_maculatum/trimmomatic/OT1_CKDN220054653-1A_HF33VDSX5_L1_R1_paired.fq,/scratch/srb67793/G_maculatum/trimmomatic/OT1_CKDN220054653-1A_HF33VDSX5_L1_R2_paired.fq GERMAC1 200 20 150 0 0 1 1 1 0 0

genome_size 2.15
mer_size 31
diploid_mode 2
num_prefix_blocks 4
min_depth_cutoff 3
cluster_project G_maculatum_Meraculous_assembly.p
cluster_slots_per_task 16
cluster_num_nodes 2
cluster_walltime 120:00:00
cluster_queue highmem_p
